@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  color: #666;
  font-family: 'Raleway', sans-serif;
}

button, input {
  font-family: 'Raleway', sans-serif;
}

button {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0.5rem;
}

.btn-link {
  color: #666;
}

.btn-no-border {
  border: none;
}

.btn-no-padding {
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 8px auto;
}

/* Startup Splash */
.Section-StartupSplash {
    position: absolute;
    top: 0;
    width: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
/* Startup Splash */

/* Header */
.App-header {

}

.App-header-row div:last-child {
  text-align: right;
}

.App-header-logo {
  text-align: center;
}

.Section-top-heading-main {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.Section-top-heading-sub {
  text-align: center;
  font-size: 1.3rem;
}
/* Header */

/* LogInSignUp */
.Section-LogInSignUpForm {
  margin: 20px 0;
}

.Section-LogInSignUpForm .welcomeCard {
    background: rgba(255, 229, 229, 0.41);
    margin-top: 40px;
}

.LogInSignUpForm {
  max-width: 400px;
  margin: 0 auto;
}

.LogInSignUpFormSignInButton {
  width: 100%;
}

.LogInSignUpFormForgotPasswordContainer {
  margin: auto;
}

.LogInSignUpFormAlreadyRegisteredContainer {
  margin: auto;
}

.LogInSignUpFormAlreadyRememberedContainer {
  margin: auto;
}

.LogInSignUpFormForgotPassword {
  float: right;
}

.LogInSignUpFormAlreadyRegistered {
  float: right;
}

.LogInSignUpFormAlreadyRemembered {
  float: right;
}
/* LogInSignUp */

/* Contest users */
.Container-contest-users {
  padding-top: 30px;
  padding-bottom: 30px;
}

.InputGroup-member-search {
  margin: auto;
  margin-top: 20%;
}

.thumb-image-small {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 2px solid #00c071;
}
.thumb-image-large {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    border: 2px solid #00c071;
}

.img-circle {
  border-radius: 50%;
}

.Article-user-profile {
  text-align: center;
}

.Article-user-profile p {
  margin-bottom: 0;
}

.Span-profile-id {
  color: #999;
}

.IMG-vs-icon {
  display: block;
  width: 50px;
  margin: auto;
  margin-top: 20%;
}
/* Contest users */

/* Profile */
.Container-profile {
    margin-top: 30px;
}
.profile-user-details {
    margin-top: 20px;
}
.profile-user-name {
    display: inline-block;
}
.select-photo-icon {
    position: absolute;
    margin-top: -55px;
    margin-left: 40px;
    background-color: #e1e1e1;
    border-radius: 20px;
    padding: 9px;
}
.profile_pic_container {
    margin: 0 auto;
    padding: 3px;
}
.profile_pic_container.spin_loader {
    background-image: linear-gradient(-120deg, #00c071 50%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, #00c071 50%, rgba(0, 0, 0, 0) 50%);
    border-radius: 50%;
    width: 156px;
    height: 156px;
    padding: 3px;
    animation:spin 2s linear infinite;
}
.fa-username-edit {
    position: absolute;
    margin-top: -2px;
    margin-left: 5px;
}

.img-circle.thumb-image {
    border: 2px solid #00c071;
}

.profile_pic_container.spin_loader .img-circle {
    animation:spin-reverse 2s linear infinite;
}

.profile-user-edit-name-surname-container {
    margin-bottom: 20px;
}

.levels_count {
    border: 2px solid #00c071;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    padding-top: 50px;
    margin: 20px auto 0 auto;
}

.levels_count_number {
    margin-bottom: 5px;
    font-weight: bold;
}

.levels_count_text {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

@keyframes spin{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}

@keyframes spin-reverse{
    from{transform:rotate(360deg)}
    to{transform:rotate(0deg)}
}
/* Profile */

/* Footer */
.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  height: 30px;
  text-align: center;
}
/* Footer */
